@import url(
'https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

.nav-bar {
  background-color: #941d576a;
  }
  .txt{
    color: white;
    font-size: 22px;
  }
  .themeicon{
    background-color: white;
    width:35px;
    height:35px;
    cursor: pointer;
    border-radius: 10px;
    margin: 10px 10px;
  }
  
.theme-dark{
  background-color: rgb(246, 221, 243);
  color:black;

}
.theme-light{
  background-color:white;
  color:black;
}

.foot{
  background-color: #941d576a;
}

  
.link{
  text-decoration: none;
  color: black;
}




